button {
    margin: 3px;
}

/* Einzel */
.single-view {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .single-view h5 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .single-view p {
    color: #666;
  }
  
  .single-view ul {
    list-style-type: none;
    padding: 0;
  }
  
  .single-view li {
    margin-bottom: 10px;
  }
  
  .single-view input[type="radio"],
  .single-view input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .single-view button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .single-view button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }


  /* List */
.list-view {
    margin-top: 20px;
  }
  
  .list-view .question-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .list-view .question-container h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .list-view .question-container p {
    color: #666;
    margin-bottom: 8px;
  }
  
  .list-view .question-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-view .question-container li {
    margin-bottom: 8px;
  }
  
  .list-view .question-container label {
    display: flex;
    align-items: center;
  }
  
  .list-view .question-container input[type="radio"],
  .list-view .question-container input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .list-view .question-container button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .list-view .question-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  