

<div class="navbar">
    <a class="activ" routerLink="" routerLinkActive="active">
        <img src="../../assets/photo_5766914934540714147_w-removebg-preview.png" alt="Foto" class="navbar-icon"> Home
    </a>
    <div class="right-links">
        <a routerLink="/learn" routerLinkActive="active">Learn-Modus</a>
        <a routerLink="/check" routerLinkActive="active">Check-Modus</a>
        <a routerLink="/exam" routerLinkActive="active">Exam-Modus</a>
        <a routerLink="/exam2" routerLinkActive="active">Exam-Modus_2</a>
    </div>
</div>
  