
<div class="body">
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <div class="bild">
            <img src="../../assets/images.png" alt="Bild für die Homepage">
        </div>
        <div class="titel">
        <h1>LEP App</h1>
        <h2>(LEP - Linux-Exam-Prep)</h2>
        </div>
        <div class="button">
            <button type="button" (click)="zuLPICsiteLeiten()">Linux Professional Institute LPIC-1</button>
        </div>
    </div>

    <script src="script.js"></script>
</div>  